.dashboard-wrapper {
    display: flex;
}
.side-bar {
    background-color: #040440;   
    padding: 20px;
}
.dashboard-right {
    width: 83%;
}
.side-bar h2{
    color: #fff;
    margin-bottom: 30px;
}
.side-bar h2 img {
    vertical-align: middle;
    margin-right: 10px;
}
.left-menu li {
    margin-bottom: 10px;
}
.left-menu li a {
    color: #fff;
    padding: 10px 7px;
    display: flex;
    font-size: 14px;
    align-items: center;
}
.left-menu li a:hover {
    background: rgba(255,255,255,0.3);
    border-radius: 10px;
    transition: all 0.5s ease 0s;
}
.left-menu li a img {
 width: 20px;
}
.dash-image {
    margin-right: 10px;
}

@media only screen and (min-width: 768px) {  
#toggle {
    display: none;
}
}
@media only screen and (max-width: 767px) { 
    .sideBarDisplay {
        display: none;
    } 
    .sidebar-wrap {
        position: absolute;
    width: 245px;
    }  
    .side-bar {
        width: 100%;
    }
    .dashboard-right {
        width:100%;
    }
    #toggle {
        width: 28px;
        height: 30px;
        margin: 22px 0px 22px 5px;
      }
      
      #toggle div {
        width: 100%;
        height: 5px;
        background: #040440;
        margin: 4px auto;
        transition: all 0.3s;
        backface-visibility: hidden;
      }
      
      #toggle.on .one {
        transform: rotate(45deg) translate(5px, 5px);
      }
      
      #toggle.on .two {
        opacity: 0;
      }
      
      #toggle.on .three {
        transform: rotate(-45deg) translate(7px, -8px);
      }
  }